/* Header styles */

.navbar {
    margin-bottom: 20px;
}
/* Body styles */

.ex-margin-bottom {
    margin-bottom: 20px;
}

/* Footer styles */
.footer {
    text-align: center;
    background: #343a40;
    color: white;
    padding: 20px 0px;
    font-size: 12px;
}
